@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter Var';
	src: url('/fonts/Inter.var.woff2') format('woff2');
}

body,
#__next {
	min-height: 100vh;
}

.blur-white {
	background-color: white;
}

@supports (backdrop-filter: none) {
	.blur-white {
		background-color: rgba(255, 255, 255, 0.45);
		backdrop-filter: saturate(200%) blur(20px);
	}
}
